<header id="main-header">
  <div class="container">
    <nav id="nav-bar">
      <ul class="left">
        <li><%= link_to "Learn", "#" %></li>
        <li><%= link_to "Connect", "#" %></li>
        <li><%= link_to "Community", "#" %></li>
      </ul>
      <%= image_tag "logo.png", alt: "E-Sensai", class: "logo" %>
      <ul class="right">
        <li><%= link_to "How It Works", "#" %></li>
        <li><%= link_to "Log In", "#" %></li>
        <li><%= link_to "Sign Up", "#" %></li>
      </ul>
    </nav>
  </div>
</header>

<section id="home-hero">
  <div class="container">
    <h1>We turn want-repreneurs in to entrepreneurs<br />
      with mentor driven development</h1>

    <%= image_tag "dojos.png", class: "dojos" %>
  </div>
</section>

<section class="bridge-bar">
  <%= image_tag "bridge-bar.jpg", class: "bridge" %>
</section>

<section class="how-it-works">
  <div class="container">
    <h2>How it works</h2>
    <div class="video">
      <img src="http://placehold.it/460x330" />
    </div>
    <div class="text">
      <h3>What is an e-sensei?</h3>
      <p>An E-sensei is a virtual mentor who is a master in your field and will guide you as you embark on your path to becoming self-employed.</p>

      <h3>How does it work?</h3>
      <p>When you sign up for E-sensei, you are immediately connected to a vast network of industry leaders. All new members start out as “white-belts” and will learn the basic forms of freelance customer engagement. After the forms have been mastered, white belts will be tested for their skills and will have the opportunity to move up the ranks, with the ultimate goal of becoming an e-sensei within their dojo.</p>
    </div>
  </div>
</section>

<section class="learn">
  <div class="container">
    <h2>Learn</h2>
    <p class="details">When you first begin with e-sensei, you will kickstart your freelance career with our six-week White Belt Fundamentals course.  This course is taught online by our e-senseis and serves as a comprehensive introduction into the freelance world. The subjects covered in this course include, but are not limited to:</p>
  </div>
</section>
