
<section id="home-hero">
  <div class="container">
    <h1>We turn want-repreneurs into entrepreneurs<br />
      with mentor driven development</h1>

    <%= image_tag "dojos.png", class: "dojos" %>
  </div>
</section>

<section class="bridge-bar">
  <%= image_tag "bridge-bar.jpg", class: "bridge" %>
</section>

<section class="how-it-works">
  <div class="container">
    <h2>How it works</h2>
    <div class="video">
      <iframe width="460" height="330" src="//www.youtube.com/embed/ZNVcI-XoNT0?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="text">
      <h3>What is an E-Sensei?</h3>
      <p>An E-sensei is a virtual mentor who is a master in your field and will guide you as you embark on your path to becoming self-employed.</p>

      <h3>How does it work?</h3>
      <p>When you sign up for E-Sensei, you are immediately connected to a vast network of industry leaders. All new members start out as “white-belts” and will be connected to their own personal E-Sensei to learn the basic forms of freelance customer engagement. Members will also have the opportunity to maximize their learning with offers for exclusive videos and courses. After the forms have been mastered, white belts will be tested for their skills and will have the opportunity to move up the ranks, with the ultimate goal of becoming an E-Sensei within their dojo. </p>
    </div>
  </div>
</section>

<section class="learn">
  <div class="container">
    <h2>Learn</h2>
    <p class="details">Kickstart your freelance career with our six-week Kickstarter Fundamentals Course. This course is taught online by our E-Senseis and serves as a comprehensive introduction into the freelance world. The subjects covered in this course include, but are not limited to:</p>
    <div class="categories">
      <div class="category">
        <%= image_tag "bookkeeping-icon.png" %>
        <div class="caption">Bookkeeping</div>
      </div>
      <div class="category">
        <%= image_tag "marketing-icon.png" %>
        <div class="caption">Marketing</div>
      </div>
      <div class="category">
        <%= image_tag "branding-icon.png" %>
        <div class="caption">Personal Branding &amp; Self-Promotion</div>
      </div>
      <div class="category">
        <%= image_tag "findingclients-icon.png" %>
        <div class="caption">Finding Clients</div>
      </div>
    </div>
  </div>
</section>

<section class="connect">
  <div class="container">
    <h2>Connect</h2>
    <p class="details">Meet our E-Senseis! Your personal E-Sensei will guide you on a step-by-step basis with weekly emails, monthly phone calls, and specific reminders to keep you on the right track as you grow your business.</p>

    <div class="senseis">
      <div class="sensei">
        <%= image_tag "sensei1-photo.png" %>
        <div class="caption">Sensei Josh, Sales</div>
      </div>
      <div class="sensei">
        <%= image_tag "sensei2-photo.png" %>
        <div class="caption">Sensei Cindy, Design</div>
      </div>
      <div class="sensei">
        <%= image_tag "sensei3-photo.png" %>
        <div class="caption">Sensei Sandy, Development</div>
      </div>
    </div>
  </div>
</section>

<section class="community">
  <div class="container">
    <h2>Community</h2>
    <p class="details">Join a growing community of location independent professionals! E-Sensei is not just another social network or another place to post your resume, but a tool that you can use to build a personal relationship with an expert in your field and simultaneously prove your skills in a competitive arena. </p>
  </div>
</section>

<section class="pricing">
  <div class="container">
    <a class="button" href="#">See Plans and Pricing</a>
  </div>
</section>

