<header id="main-header">
  <div class="container">
    <nav id="nav-bar">
      <ul class="left">
        <li><%= link_to "Learn", "#" %></li>
        <li><%= link_to "Connect", "#" %></li>
        <li><%= link_to "Community", "#" %></li>
      </ul>
      <%= image_tag "logo.png", alt: "E-Sensai", class: "logo" %>
      <ul class="right">
        <li><%= link_to "How It Works", "#" %></li>
        <li><%= link_to "Log In", "#" %></li>
        <li><%= link_to "Sign Up", "#" %></li>
      </ul>
    </nav>
  </div>
</header>

<section id="home-hero">
  <div class="container">
    <h1>We turn want-repreneurs in to entrepreneurs<br />
      with mentor driven development</h1>

    <%= image_tag "dojos.png", class: "dojos" %>
  </div>
</section>

<section class="bridge-bar">
  <%= image_tag "bridge-bar.jpg", class: "bridge" %>
</section>

<section class="how-it-works">
  <div class="container">
    <h2>How it works</h2>
    <div class="video">
      <iframe width="460" height="330" src="//www.youtube.com/embed/ZNVcI-XoNT0?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="text">
      <h3>What is an e-sensei?</h3>
      <p>An E-sensei is a virtual mentor who is a master in your field and will guide you as you embark on your path to becoming self-employed.</p>

      <h3>How does it work?</h3>
      <p>When you sign up for E-sensei, you are immediately connected to a vast network of industry leaders. All new members start out as “white-belts” and will learn the basic forms of freelance customer engagement. After the forms have been mastered, white belts will be tested for their skills and will have the opportunity to move up the ranks, with the ultimate goal of becoming an e-sensei within their dojo.</p>
    </div>
  </div>
</section>

<section class="learn">
  <div class="container">
    <h2>Learn</h2>
    <p class="details">When you first begin with e-sensei, you will kickstart your freelance career with our six-week White Belt Fundamentals course.  This course is taught online by our e-senseis and serves as a comprehensive introduction into the freelance world. The subjects covered in this course include, but are not limited to:</p>
    <div class="categories">
      <div class="category">
        <%= image_tag "bookkeeping-icon.png" %>
        <div class="caption">Bookkeeping</div>
      </div>
      <div class="category">
        <%= image_tag "marketing-icon.png" %>
        <div class="caption">Marketing</div>
      </div>
      <div class="category">
        <%= image_tag "branding-icon.png" %>
        <div class="caption">Personal Branding &amp; Self-Promotion</div>
      </div>
      <div class="category">
        <%= image_tag "findingclients-icon.png" %>
        <div class="caption">Finding Clients</div>
      </div>
    </div>
  </div>
</section>

<section class="connect">
  <div class="container">
    <h2>Connect</h2>
    <p class="details">Meet our e-senseis! Your personal e-sensei will guide you on a step-by-step basis with weekly emails, monthly phone calls, and specific reminders to keep you on the right track as you grow your business.</p>

    <div class="senseis">
      <div class="sensei">
        <%= image_tag "sensei1-photo.png" %>
        <div class="caption">Sensei Josh, Sales</div>
      </div>
      <div class="sensei">
        <%= image_tag "sensei2-photo.png" %>
        <div class="caption">Sensei Cindy, Design</div>
      </div>
      <div class="sensei">
        <%= image_tag "sensei3-photo.png" %>
        <div class="caption">Sensei Sandy, Development</div>
      </div>
    </div>
  </div>
</section>

<section class="community">
  <div class="container">
    <h2>Community</h2>
    <p class="details">Join a growing community of location-independent professionals! As you test at higher levels you will be rewarded with personalized assessments and you will gain exclusive contacts to top-level senseis not available to white belts. E-Sensei is not just another social network or another place to post your resume, but a networking tool that you can use to prove yourself and gain respect in a competitive arena.</p>
  </div>
</section>

<section class="pricing">
  <div class="container">
    <a class="button" href="#">See Plans and Pricing</a>
  </div>
</section>

<footer id="main-footer">
  <div class="container">
    <nav class="links">
      <ul>
        <li><%= link_to "How it works", "#" %></li>
        <li><%= link_to "Learn", "#" %></li>
        <li><%= link_to "Connect", "#" %></li>
        <li><%= link_to "Community", "#" %></li>
        <li><%= link_to "Login", "#" %></li>
        <li><%= link_to "Sign up", "#" %></li>
      </ul>
    </nav>
    <div class="copyright">
      Copyright 2013 esensai.co
    </div>
  </div>

</footer>
