<header id="main-header">
  <div class="container">
    <nav id="nav-bar">
      <ul class="left">
        <li><%= link_to "Learn", "#" %></li>
        <li><%= link_to "Connect", "#" %></li>
        <li><%= link_to "Community", "#" %></li>
      </ul>
      <%= image_tag "logo.png", alt: "E-Sensai", class: "logo" %>
      <ul class="right">
        <li><%= link_to "How It Works", "#" %></li>
        <li><%= link_to "Log In", "#" %></li>
        <li><%= link_to "Sign Up", "#" %></li>
      </ul>
    </nav>
  </div>
</header>

<section id="home-hero">
  <div class="container">
    <h1>We turn want-repreneurs in to entrepreneurs<br />
      with mentor driven development</h1>

    <%= image_tag "dojos.png", class: "dojos" %>
  </div>
</section>

<section class="bridge-bar">
  <%= image_tag "bridge-bar.jpg", class: "bridge" %>
</section>

<section class="how-it-works">
  <div class="container">

  </div>
</section>
